@page "/"

<PageTitle>Real Evidence</PageTitle>

<h1>Evidence discovered</h1>

<img src="/images/evidence.png" alt="evidence watermark ">

<NavLink class="nav-link" href="counter">
    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Explanations
</NavLink>

